[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/breschdleng
[access "refs/for/refs/*"]
	read = group user/breschdleng
	push = group user/breschdleng
	label-Code-Review = -2..+2 group user/breschdleng
	label-Verified = -1..+1 group user/breschdleng
	rebase = group user/breschdleng
	removeReviewer = group user/breschdleng
	submit = group user/breschdleng
[access "refs/heads/*"]
	read = group user/breschdleng
	create = group user/breschdleng
	push = +force group user/breschdleng
	pushMerge = group user/breschdleng
[access "refs/tags/*"]
	push = group user/breschdleng
	push = +force group user/breschdleng
